*,
html {
  font-family: 'Vollkorn', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #2B061E;
  --gold: #D2BF55;
  --white: #FFEED6;
  --accent: #875053;
  --pink: #FBBFCA;
}

html {
  height: 100vh;
  height: -webkit-fill-available;
}

body {
  color: var(--dark);
  display: grid;
  place-items: center;
  height: 100%;
}

.player-selection {
  display: grid;
  justify-items: center;
}

.options {
  padding: 0.5rem;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 1.5rem;
}

.player-selection__circle,
.player-selection__cross {
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.player-selection__circle:hover,
.player-selection__cross:hover {
  transform: translateY(-2px);
}

[selected] {
  display: grid;
  border: 2px solid var(--gold);
  padding: 0.2rem;
}

.vertical-divider {
  position: absolute;
  border-left: 2px solid var(--pink);
  height: 65px;
  left: 50%;
}

.game-board {
  display: grid;
  width: 250px;
  height: 250px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: antiquewhite;
  border: 4px solid var(--pink);
  background: var(--pink);
  border-radius: 3px;
  box-shadow: 1px 2px 9px 1px #00000026;
}

.game-board__spot {
  background: var(--white);
  border: 3px solid var(--pink);
  transition: background 0.3s ease-in-out;
}

.game-board__spot:hover {
  cursor: pointer;
  background: #ffe6c4;
}

[cross],
[circle],
.game-board__spot:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-brand a {
  user-select: none;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  color: var(--accent);
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}