*,
html {
  font-family: 'Vollkorn', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #2B061E;
  --gold: #D2BF55;
  --white: #FFEED6;
  --accent: #875053;
  --pink: #FBBFCA;
}

html {
  height: 100vh;
  height: -webkit-fill-available;
}

body {
  color: var(--dark);
  display: grid;
  place-items: center;
  height: 100%;
}

.player-selection {
  display: grid;
  justify-items: center;
}

.options {
  padding: 0.5rem;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 1.5rem;
}

.player-selection__item {
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.player-selection__item:hover {
  transform: translateY(-2px);
}

[selected] {
  display: grid;
  border: 2px solid var(--gold);
  padding: 0.2rem;
}

.vertical-divider {
  position: absolute;
  border-left: 2px solid var(--pink);
  height: 65px;
  left: 50%;
}

.game-board {
  display: none;
  width: 250px;
  height: 250px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: antiquewhite;
  border: 4px solid var(--pink);
  background: var(--pink);
  border-radius: 3px;
  box-shadow: 1px 2px 9px 1px #00000026;

  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-board__spot {
  background: var(--white);
  border: 3px solid var(--pink);
  transition: background 0.3s ease-in-out;
}

.game-board__spot:hover {
  cursor: pointer;
  background: #ffe6c4;
}

[cross],
[circle],
.game-board__spot:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s ease-in-out;
}

.game-board__spot:active {
  opacity: 0.5;
}

.footer-brand a {
  user-select: none;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  color: var(--accent);
  cursor: pointer;
  text-decoration: none;
  align-items: center;
}

.endgame-message {
  position: absolute;
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  align-content: center;
  gap: 1rem;
}

.endgame-message h1 {
  user-select: none;
  font-size: 2.5rem;
}

.endgame-message p {
  user-select: none;
  cursor: pointer;
}

.win {
  background: radial-gradient(50% 50% at 50% 50%, #FFE65A 0%, #EFD750 100%);
  color: var(--dark);
}

.win {
  display: none;
  background: radial-gradient(50% 50% at 50% 50%, #FFE65A 0%, #EFD750 100%);
  color: var(--dark);
}

.loose {
  display: none;
  background: radial-gradient(50% 50% at 50% 50%, #27051B 0%, #000000 100%);
  color: var(--gold);
}

.draw {
  display: none;
  background: radial-gradient(50% 50% at 50% 50%, #FBBFCA 0%, #FFA0B1 100%);
  color: var(--dark);
}